<div class="documents">
  <% @documents.each do |doc| %>
    <article class="doc">
      <h4><%= doc.title%></h4>
      <p>
        <%= truncate(doc.body, length:  50) %>
      </p>
    <%= link_to 'Show', document_path(doc) %>
    </article>
  <% end %>
</div>
