// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$color: #456456;
$text-color: #474747;

.documents, .one-document {
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;

  article  {
    border-bottom: solid 1px #ccc;
    color: $text-color;
    margin-bottom: 20px;
    font-size: 18px;
    a  {
      text-decoration: none;
      color: $text-color;
    }
  }


  .buttons {
    text-align: center;
    margin-bottom: 20px;
    a {
      display: inline-block;
      text-decoration: none;
      border: solid 1px #ccc;
      font-size: 19px;

      border-radius: 3px;
      padding: 10px 20px 10px 20px;
    }
  }


  form {
    margin: 0 auto;
    width: 50%;

    label {
      font-size: 22px;
      font-weight: bolder;
      padding-top: 20px;
    }

    .title-input {
      width: 490px;
      height: 30px;
      font-size: 19px;
      margin-bottom: 10px;
    }
    .body-area {
      padding: 10px;
      width: 470px;
      height: 300px;
      font-size: 16px;
    }

    .button {
      display: block;
      clear: both;
      margin-left: 150px;
      margin-top: 10px;

      padding: 15px 40px 15px 40px;
      background-color: #456456;
      opacity: 0.8;
      border: none;
      border-radius: 2px;
      font-size: 20px;
      color: white;
    }
   }


   .time {
     margin-left: 10px;
   }

   .notice {
    //  background-color: #d9f2e4;
    //  width: 280px;
    //  padding: 5px 10px 5px 10px;
    //  border-radius: 5px;
   }

}
